/*
	CSS for Exer 2
	Claudine P. Bael
	2010-45448
*/


body{
  width:100%;
  margin:0 auto;
  font-family: verdana;
  font-size: 12px;
  overflow: scroll;
}

section#posts{
  margin-top:1%;
}

article{
	padding:8px;
	margin:5px;
  height:100%;
	background-color:#fcfca9;
	/*-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;*/
	opacity:0.8;
	color:#02182b;
  border:solid 1px #02182b;
	/*border-left:solid 10px #02182b;
	border-bottom:solid 10px #02182b;	*/
	box-shadow: 0 10px 5px -5px gray;
	overflow: scroll;
}

div#top_title {
  background-color: #02182b;
  height: 65px;
  text-align: center;
  font-size: 30px;
  padding: 25px 0 0 0;
  color: #c8ebbc;
  box-shadow: 0 4px 2px -2px gray;
  -webkit-box-shadow: 0 4px 2px -2px gray;
  -moz-box-shadow: 0 4px 2px -2px gray;
  -o-box-shadow: 0 4px 2px -2px gray;
}

table#exerTable{
	border-collapse:collapse;
}

td#exerTable{
	border:1px solid black;
	padding:5px;
}

footer#page_footer{
  //clear: both;
  width: 100%; 
  //display: block; 
  text-align: center;
  color:#02182b;
}